<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Clima</title>  
           <style>
      body {
    margin: 0;
    min-height: 100vh;
    background-image: url("{{ url_for('static', filename='bg_procesado.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
        .container {
            background: rgba(0,0,0,0.5);
            padding: 20px;
            max-width: 500px;
            margin: 50px auto;
            border-radius: 10px;
        }
    </style>  
    </head>
    <body>
        <h1>Clima</h1>

        <form method="POST">
            <input type="text" name="city" placeholder="ciudad" required>
            <button type="submit">Consultar</button>
        </form>

        {% if error%}
        <p style="color:red;">{{ error}}</p>
        {% endif %}

        {% if weather %}
        <h2>{{ weather.ciudad}}, {{weather.pais}}</h2>
        <p>Temperatura: {{ weather.temperatura|round(1)}} °C</p>
        <p>Clima: {{ weather.descripcion}}</p>
        <img scr="http://openweathermap.org/img/wn/{{ weather.icono}}.png">
        {% endif %}
    </body>
</html>
